body {
    margin: 0;
}

header > h1 {
    font-size: 5em;
    font-family: sans-serif;
    color: darkgreen;
    text-align: center;
    margin: 0;
    padding: 5px 0;
}

nav {
    background-color: lightgreen;
    color: lightgrey;
    padding: 5px;
}

nav > ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    display: inline;
    color: black;
    padding: 0 3px;
}

main {
    padding: 0 10px;
}

p {
    font-family: sans-serif;
    font-size: 1.2em;
    text-align: justify;
}

main > ul > li {
    font-family: sans-serif;
    font-size: 1.2em;
}

main > article > ul > li {
    font-family: sans-serif;
    font-size: 1.2em;
}

footer {
    background-color: lightgreen;
    color: black;
    padding: 5px;
    text-align: justify;
}

table {
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border: 3px solid darkgreen;
}

th {
    border: 2px solid darkgreen;
    background-color: lightgreen;
}

td {
    border: 2px solid darkgreen;
    padding: 0 0 0 5px;
}

#pinecrest-map {
    display: block;
    height: 350px;
}

#draft-label {
    color: red;
}

#purpose {
    font-style: italic;
}